#page {
  .text-blue { color: $theme-blue; }
  .text-gold { color: $theme-gold; }
  .text-green { color: $theme-green; }
  .text-rust { color: $theme-rust; }
  .text-salmon { color: $theme-salmon; }
  .text-white { color: #fff; }

  .bg-blue { background-color: $theme-blue; }
  .bg-gold { background-color: $theme-gold; }
  .bg-green { background-color: $theme-green; }
  .bg-rust { background-color: $theme-rust; }
  .bg-salmon { background-color: $theme-salmon; }
}

.logo {
  width: 46px;
}

.large-logo {
  width: 245px;
}

.btn-green {
  background: $theme-green;
  color: #fff;
  > .icon{
    path{
      fill: #fff;
    }
  }
  &:hover{
    color: $theme-green;
    background: #fff;
  }
}

.btn-rust {
  background: $theme-rust;
  color: #fff;
  > .icon{
    path{
      fill: #fff;
    }
  }
  &:hover{
    background: lighten($theme-rust, 5%);
  }
}

.btn-aligner {
  position: absolute;
  bottom: 24px;
}

.contact-top {
  padding-top: 150px !important;

  .layer-2 > div {
    max-width: 550px;
    margin: 0 auto;
  }
}

.text-light .form-group > label {
  color: #fff;
  font-weight: 400;
}
